APP_ENV=development
APP_PORT=8081
LOG_LEVEL=debug

DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=disable

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

KAFKA_BROKERS=localhost:9094

JWT_SECRET=
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=168h